*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: linear-gradient(135deg, #000000, #59575a );
}
h1{
    color: #b8b7b7;
    margin-bottom: 50px;
    text-align: center;
    text-shadow: #7a757d;
    text-decoration: underline;
}
.container{
    position: relative;
    max-width: 1350px;
    width: 100%;
    padding: 40px;
    margin: 5px 5px;
}
.filter_button{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
button{
    padding: 10px ;
    font-size: 18px;
    background: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
button.active{
    background: #7a757d;
    color: #fff;
}
.filterable_cards{
    display: flex;
    margin-top: 25px;
    gap: 10px;
    flex-wrap: wrap;
}
.card{
     flex-grow: 1;
     flex-basis: 300px;
     background-color: #fff;
     padding: 3px;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
.card.hide{
    display: none;
}
.card_body{
    color: rgb(9, 16, 22);
    padding: 4px 8px 9px;
}
.card img{
    
    height: 190px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.card_title{
    font-size: 15px;
    font-weight: 500;
}